Package: com.0xkuj.sirittl
Name: Siri TTL
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Set siri timer for dismiss
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Version: 1.1
Installed-Size: 294
